
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
color: brown;

}

.heading p
{
    font-size: 12;
}
#status,#number_objects
{
font-size: 18px;
margin-bottom: 100px;
}


body{
    background-size: cover;
   background-position: center;
}

canvas{
    box-shadow: 10px 10px 10px #95C219;
    border-radius: 20px;
    margin-top: 30px;
}